[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plumbum = "*"
spelling = ">=0.6.3"
dataset = "<1.2.0"
unanimous = ">=0.6.4"
requests = "*"
workflow = "*"
colorama = "*"
psycopg2 = "*"
ansi2html = "*"
black = "==20.8b1"
coveralls = "*"
PyGithub = "*"
PyInquirer = "*"
Flask = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"

[dev-packages]

[requires]
python_version = "3.9"
